/* Fonte personalizada */
body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: #121212;
    color: #005eff
    ;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #000000;
}

/* Menu com FLEX */
nav {
    background-color: #4c4c4c;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #5485ef;
    font-weight: bold;
}

/* Main centralizado */
main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* Articles */
article {
    background-color: #1e1e1e;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

article img {
    width: 100%;
    border-radius: 8px;
}
 
footer {
    text-align: center;
    padding: 15px;
    background-color: #1f1f1f;
}